#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

#search_type {
  position: absolute;
  top: 20px;
  left: 20%;
  transform: translateX(-50%);
  z-index: 999;
  width: 190px;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.header h5 {
  color: whitesmoke;
  font-weight: bold;
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 6%;
}

.multi-checkboxes_wrap[aria-selected="true"]:before {
  content: "\f14a";
}

.form-control {
  height: 30px;
  padding: auto;
}

.accordion-button {
  height: 30px;
  font-size: 12px;
}

.form-select {
  justify-content: center;
  margin-left: -35px;
  /* width: 50px; */
}

.accordion-body .form-control {
  margin-left: -35px;
}

.accordion-button:hover {
  background-color: #bbb;
}
.bg-transparent {
  background-color: transparent !important;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  /* background-clip: padding-box; */
}



#checkboxContainer {
  gap: 1px;
  position: absolute;
  top: 20px;
  left: 33%;
  transform: translateX(-50%);
  z-index: 999;
  font-size: 8px;
  height: auto;
  max-height: 300px;
  overflow: scroll;
  scrollbar-width: thin;
  width:150px; 
  text-align: left; 
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px 20px;
}

#checkboxContainer input[type="checkboxContainer"] {
  padding: 5px;
  /* margin-left: 5px; */
}

#checkboxContainer label {
  font-size: 12px;
  margin-left: 15px;
  text-align: center;
  padding: 15px 0px;
}
